no_of_taxis 400
start_port 4000
url_taxi_ip http://127.0.0.1:
seeder_port 4500
evaporation_factor 0.5
lambda_parameter 0.5
beta 0.9
api_url https://route.api.here.com/routing/7.2/calculateroute.json?
app_id BLcEaMVO9j0OzdMHJgVn
app_code H32-BLCoLqD0At613jp8pw
delta_drt 900
delta_pwt 600
confirm_timer 60
request_timers 90
update_taxi_location_timer 60
first_hop 500
centroids_file ./Info/centroids.npy
taxi_init_file ./1dayNP_400taxis_Kmeans.csv
results_csv_file experiments_taxis.csv 
